@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navbar .logo{
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
    color: #c031e8;
    margin: 0;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}