.experience-container {
    padding: 50px;
    border-radius: 10px;
    margin: 20px 80px;
    margin-top: 150px;
  }
  
  .experience-title {
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 600;
  }
  
  .experience-card {
    padding: 15px;
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  
  .experience-card .job-title{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B425FF 100.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
  }

  .experience-card:hover {
    transform: translateY(-5px);
  }

  .job-duration{
    margin-bottom: 10px;
  }

  @media (max-width: 768px){
    .experience-container {
      padding: 50px;
      margin: 20px 50px;
      margin-top: 150px;
    }

    .experience-title h2{
      font-size: 50px;
      font-weight: 600;
    }

    .experience-card h3{
      margin-top: 0;
    }

    .experience-card {
      padding-top: 0;
    }
  }
