.social-icons {
    display: flex;
    gap: 30px;
    align-items: end;
  }
  
  .social-icons a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    /* color: #aaa; */
    color: #c031e8;
    transform: scale(1.1);      /* Slight scaling effect */

}

@media (max-width: 768px){
  .social-icons {
    gap: 25px;
    align-items: center;
  }

}
  