.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 60px 170px;
    margin-top: 150px;
}

.projects-title h1{
    font-size: 80px;
    font-weight: 600;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 80px;
}

.project-card h3{
    font-size: 28px;
    font-weight: 600;
}

.project-card h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B425FF 100.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-card p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 350px;
}

.project-card .project-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.project-card:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}


.project-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .project-detail {
    background: #fff;
    color: #333;
    padding: 3rem;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 500px;
    position: relative;
  }
  
  .project-detail h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 50%, #B425FF 100.05%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .project-detail p {
    line-height: 1.6;
    font-size: 22px;
  }

  #github-link{
    margin-top: 1rem;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    color: #333;
  }
  
  .close-btn:hover {
    color: red;
  }
  
@media (max-width: 768px){
    .projects{
        align-items: start;
        gap: 70px;
        margin: 100px 70px;
    }

    .projects-title h1{
        padding: 0;
        font-size: 50px;
    }

    .project-card{
        gap: 20px;
        padding: 32px;
    }

    .project-card h2{
        font-size: 28px;
    }

    .project-card p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .projects-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .project-detail {
        max-width: 400px;
        max-height: 500px;
        position: relative;
    }
}


@media (max-width: 600px){
    .project-detail {
        max-width: 330px;
        max-height: 600px;
    }
}
